.container {
  text-align: center;
  margin: 80px;
}

.a{
  color: black;
  text-decoration: none;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3; /* aynı z-ekseninde bulunan(kapsayan elementler hariç) katmanların altta mı üstte mi kalacağınız belirlemek için kullanılır. */
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center; /*  bir flex konteynerinin içerisindeki öğelerin dikey hizalamasını düzenlemeye yarayan bir özelliktir */
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor; /* bir SVG şeklinin rengini ayarlamak için kullanılır. Her türlü renk değerini kabul eder. */
  line-height: 24px;
  position: relative;
}

.input-enter {
  
  display: flex;
  flex: 1;
  flex-wrap: wrap; /* bir esnek kutu içersindeki öğelerin ana-eksende birden fazla satır üzerine sarılıp sarılmayacağını ayarlamak için kullanılır. */
}

.input-area {
  color: transparent;
  flex: 100%; /* öğelerin kutuya nasıl sığacağını belirtmek için kullanılır. */
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.search-button{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    
}

.lucky-button{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.header {
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.header-pic{
  display: block; /*  Display özelliği, bir elemanın görüntülenip görüntülenmeyeceğini veya nasıl görüntüleneceğini belirtir. */
  color: black;
  text-align: center;
  padding: 5px 500px;
  text-decoration: underline;
  
}

.footer {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
  }
  
  .footerli {
    float: left; /* bir etiketin nasıl yaslanması ve konumlanması gerektiğini belirtir */
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover { /* kullanıcıların farelerini bir web sitesinde gezdirdikleri bir öğenin üzerindeyken görüntülenen animasyon veya değişikliklerdir. */
    text-decoration: underline;
  }
